<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        <h2>Student Name: {{ student.getName }}</h2>
        <h3>Enrollment Date: {{ student.getDate }}</h3>

        {% if student_courses is not empty %}
            <ul>
            {% for student_course in student_courses %}
                <li><a href="/courses/{{ student_course.getId }}">{{ student_course.getCourseName}}</a></li>
            {% endfor %}
        {% else %}
            <p>This student is not enrolled in any courses!</p>
        {% endif %}
<br>
        <form action="/{{ student.getId }}/add_course" method="post">
            <input type="hidden" name="student_name" value="{{ student.getId }}">
            <label>Add a Course</label>
            <select name="id">
                {% for course in courses %}
                    <option value="{{ course.getId }}">{{ course.getCourseName }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>

<br>
        <form action='/{{ student.getId }}/delete_student' method='post'>
            <input name="_method" type="hidden" value="delete">
            <button type='submit'>Delete Student</button>
        </form>

        <a href="/">Home</a>
    </body>
</html>
